extends layout

block content
  div.categories
    h1 Categories
    div.categories_wrapper
      each category in categories_list
        div(class='category')
          a(href=category.url)= category.title