extends layout 

block content
  h1 #{title}
  div(class='container')
      form(method='POST' action='')
        div.form-group
          label(for='name') Title:
          input#title.form-control(type='text', name='title', required='true' value=(undefined===category ? '' : category.title))
          label(for='description') Description:
          textarea#description.form-control(type='text', name='description', required='true')= undefined===category ? '' : category.description
        if update
          button.btn.btn-primary(type='submit') Update item
        else
          button.btn.btn-primary(type='submit') Add new item
      if errors
        ul
          for error in errors
            li!= error.msg

