extends layout

block content
  div.home
    h1 Hello!
    p.home_description This is simple CRUD application built with 
      span.node.highlighted Node.js
      | , 
      span.express.highlighted Express
      |  and 
      span.mongo.highlighted MongoDB
