extends layout

block content
  div(class='wrapper')
    section(class='category_content')
      h1= item.title
      p= item.description
      p(class='price') Price: #{item.price}$
      p(class='price') Items in stock: #{item.number_in_stock}$


