doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    main(class='main')
      header(class='header')
        nav(class='navbar')
          block navbar
          ul(class='nav_list')
            li
              a(href='/') Home
            li
              a(href='/categories') Categories
            li
              a(href='/categories/create') Create New Category
            li
              a(href='/items/create') Create New Item
      section(class='content')
        block content